.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid black;
  padding: 1vw 1vw;
  box-sizing: border-box;
  &__left {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
  &__delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    img {
      width: 1.5vw;
      height: 1.5vw;
    }
  }
  &__checkbox-container {
    display: flex;
    align-items: center;
  }
  .checkbox-input {
    display: none;
  }

  .checkbox-label {
    width: 24px;
    height: 24px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .checkbox-input:checked + .checkbox-label {
    background-color: #07bc0c;
  }

  .checkbox-input:checked + .checkbox-label::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border-radius: 2px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: opacity 0.3s;
    opacity: 1;
  }

  .checkbox-label::after {
    content: '';
    position: absolute;
    opacity: 0;
  }
}
.task:hover {
  cursor: pointer;
}
.sub-tasks {
  position: relative;
  margin: 0 1vw 1vw;
  width: 90%;
}